/config.h.in
/configure

/autom4te.cache/
/config.log
/config.status
/config.h
/Makefile
/gnushogi/Makefile
/gnushogi/Makefile.profile
/doc/Makefile
/xshogi/Makefile

*.o
/gnushogi/pat2inc
/gnushogi/pattern.inc
/gnushogi/gnushogi
/gnushogi/gnushogi.bbk
/gnushogi/gnuminishogi
/gnushogi/gnuminishogi.bbk

/win32/

/xshogi/scanner.c
/xshogi/parser.c
/xshogi/xshogi

/doc/gnushogi*.info
/doc/gnushogi/
/doc/*.ps
/doc/*.pdf
/doc/*.aux
/doc/*.cp
/doc/*.cps
/doc/*.dvi
/doc/*.fn
/doc/*.ky
/doc/*.log
/doc/*.pg
/doc/*.toc
/doc/*.tp
/doc/*.vr
