/config.h.in
/configure

/autom4te.cache/
/config.log
/config.status
/config.h
/Makefile
/gnushogi/Makefile
/gnushogi/Makefile.profile
/xshogi/Makefile

*.o
/gnushogi/pat2inc
/gnushogi/pattern.inc
/gnushogi/gnushogi
/gnushogi/gnushogi.bbk

/xshogi/scanner.c
/xshogi/parser.c
/xshogi/xshogi
